{{ partial "header.html" . }}
<article id="main">
  <header {{ with .Site.Params.images }}style="background-image: url('{{ . }}');"{{ end }}>
    <h2>{{ .Title }}</h2>
    {{ with .Params.subtitle }}
    <p>{{ . }}</p>
    {{ end }}
	</header>
	<section class="wrapper style5">
		<div class="inner">
      {{ .Content }}
		</div>
	</section>
</article>
{{ partial "footer.html" . }}
